---
import MainLayout from '@/layouts/MainLayout/MainLayout.astro';
import Card from '@/components/Card/Card.astro';

const random = Math.random() * 100 > 5;
---

<MainLayout title="Welcome to Astro.">
    <main class="m-auto p-6 max-w-[60ch]">
        <h1 class="text-2xl">
            Welcome to <span class:list={[{ ['text-gradient']: random }, 'title']}> Astro</span>
        </h1>
        <p class="instructions">
            To get started, open the directory <code>src/pages</code> in your project.<br />
            <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
        </p>
        <ul role="list" class="link-card-grid">
            <Card
                href="https://docs.astro.build/"
                title="Documentation"
                body="Learn how Astro works and explore the official API docs."
            />
            <Card
                href="https://astro.build/integrations/"
                title="Integrations"
                body="Supercharge your project with new frameworks and libraries."
            />
            <Card
                href="https://astro.build/themes/"
                title="Themes"
                body="Explore a galaxy of community-built starter themes."
            />
            <Card
                href="https://astro.build/chat/"
                title="Community"
                body="Come say hi to our amazing Discord community. ❤️"
            />
        </ul>
    </main>
</MainLayout>

<style>
    .title {
        @apply text-5xl font-bold text-white;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        @apply text-base my-4 bg-white p-4 rounded-md;

        border: 1px solid rgba(var(--accent), 25%);
    }

    .instructions code {
        @apply text-xs font-bold rounded;

        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        padding: 0.3em 0.45em;
    }

    .instructions strong {
        color: rgb(var(--accent));
    }

    .link-card-grid {
        @apply grid gap-4 p-0;

        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    }
</style>
